// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
    font-weight: 200;
    text-align: center;
}

.hero {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    h1 {
        font-size: 40px;
        font-weight: 300;
    }
    .video {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 20px;
        color: white;
    }
}

.subhead {
    text-align: center;
}

.hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}

.hr {
    margin-top:60px;
    margin-bottom:60px;
    border:none;
    border-bottom:1px solid #d9d9d9
}

.cta {
    text-align: center
}

.featuresect {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
    .feature {
        margin-top: 10px;
        padding: 30px;
    }
    p {
        padding-top: 15px;
    }
}

.midcta {
    margin: 30px auto;
    .btn {
        margin-top: 20px;
        color: white;
    }
}

.faq {
    margin-top: 50px;
    padding-top: 30px;
    h3 {
        text-align: center;
        padding-top: 30px;
    }
    p {
        padding-top: 15px;
    }
}

.botcta {
    margin: 30px auto;
    .btn {
        margin-top: 20px;
        color: white;
    }
}
