
.form_box
  %h2 Your 14 Day Trial Period has Expired
  %p Join tradejournal.co for only $19/mo to continue your journey with us.
  = link_to "Subscribe to tradejournal instantly", new_charge_path, class: "btn btn-warning btn-lg", id: "subscribe-button"