#pin_show.row
    .col-md-8.col-md-offset-2
        .panel.panel-default
            .panel-heading.pin_image
                %h1 Edit Trade
                = image_tag @trade.screenshot.url(:large)
            .panel-body
                = render 'form'

                = link_to 'Show', @trade
                = link_to 'Cancel', :back
