= form_tag charges_path, id: "payment-form" do
    .panel.panel-default
        .log-in
            %h2 Subscribe to tradejournal.co now for only $19 per month!
            %p (And never stop learning.)
            %br
            = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js",
                :class => "stripe-button",
                :"data-key" => "#{Rails.configuration.stripe[:publishable_key]}",
                :"data-description" => "Join tradejournal.",
                :"data-amount" => "1900",
                :"data-label" => "Subscribe now",
                :"data-panel-label" => "Subscribe now for "